header-container {
  position: relative;
  
}

.menu-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 64px;
  gap: 44px;
  position: absolute;
  left: calc(55%);
}

.menu-nav a {
  padding: 8px 16px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.menu-nav a:hover {
  background: #DD90E9;
  border-radius: 8px;
  transition: 0.3s;
}

.link-ativo {
  background-color: #BAADAA;
  border-radius: 8px;
}